<div class="search-form mt-2 container">
    <form method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập từ khóa...">
      </div>
      <button type="submit" class="btn btn-primary mt-4">Tìm</button>
    </form>
</div>